body {
    margin: 0;
    overflow: hidden;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    border: 2px solid #333;
    overflow: hidden;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

#name {
    position: absolute;
    top: 95%;
    left: 95% ;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
    z-index: 10; 
}

